---
import { getCollection } from "astro:content";

const { category } = Astro.params;

const posts = await getCollection("blog", (post) => post.data.category === category);
---

<html>
  <head>
    <title>{category} Posts</title>
  </head>
  <body>
    <h1 style="padding: 20px;">Posts in: {category}</h1>

    <ul>
      {posts.map((post) => (
        <li>
          <a href={`/posts/${post.slug}/`}>{post.data.title}</a>
        </li>
      ))}
    </ul>
  </body>
</html>
