<div class="flex flex-wrap items-end gap-x-2">
	<p>Find me on</p>
	<ul class="flex flex-1 items-center gap-x-2 sm:flex-initial">
		<li class="flex">
			<a
				class="hover:text-link inline-block text-2xl"
				href="https://github.com/bytecascade11"
				rel="noreferrer"
				target="_blank"
			>
				GitHub
			</a>
		</li>
		<!-- Add more links here if you want, e.g.:
		<li class="flex">
			<a href="https://twitter.com/yourhandle" class="hover:text-link" target="_blank" rel="noreferrer">
				Twitter
			</a>
		</li>
		-->
	</ul>
</div>
